# This a notebook for practice from Legoset

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

 Sourcing the data from the folder. The folder is the same folder as the current folder. After the folder the dimensions of the data (number of rows and columns) is provided

In [3]:
# Main files
lego = pd.read_csv('sets.csv')
lego.shape

(11673, 5)

## Putting the top rows from the data

In [4]:
lego.head()

  set_num                        name  year  theme_id  num_parts
0    00-1             Weetabix Castle  1970       414        471
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          2
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

<b> Getting the mean and median of the data </b>

In [13]:
print ('The mean is ' + str(lego.num_parts.mean()))
print ('The median is ' + str(lego.num_parts.median()))

The mean is 162.26240041120533
The median is 45.0

<b>Mode of Nominal and Numerical Data </b>

In [37]:
text = 'The mode for year is:' + str(int(lego.year.mode()))
print (text)
print ('The mode for name is ' + lego.name.mode())

The mode for year is:2014

0    The mode for name is Basic Building Set
dtype: object

<b> Variance and Standard Deviation </b>

In [40]:
print ('Variance of Number of parts is ' + str(lego.num_parts.var()))
print ('Standard deviation of parts is ' + str(lego.num_parts.std()))

Variance of Number of parts is 109026.8282443041
Standard deviation of parts is 330.19210808907

<b> Quartile Details </b>

In [44]:
quartiles = [.25,.5,.75]
print ('Quartile details of number of parts')
lego.num_parts.quantile(q=quartiles)

Quartile details of number of parts

0.25     10.0
0.50     45.0
0.75    172.0
Name: num_parts, dtype: float64

<b> Complete Descriptive Statistics of the number of parts </b>

In [46]:
lego.num_parts.describe()

count    11673.000000
mean       162.262400
std        330.192108
min         -1.000000
25%         10.000000
50%         45.000000
75%        172.000000
max       5922.000000
Name: num_parts, dtype: float64